.custom-nabvar {
    background-color: rgb(246, 246, 246);
    z-index: 10;
}

.navbar-brand {
    color: #ff0000;
    font-size: 30px;
    font-family: "Arial Rounded MT Bold", sans-serif;
}

.navbar-brand:hover {
    color: #ff0000;
}

.nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
}

.nav-link:hover, .nav-link:focus {
    color: #000000;
}

.link-active, .link-active:hover {
    color: #000000;
    font-weight: bolder;
}

.navbar-toggler {
    color: rgba(255, 255, 255, 0);
}

.navbar-toggler i {
    color: #000000;
    font-size: 1.8rem;
    font-weight: bolder;
}

.w-Color-One {
    background-image: url('../images/w1.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.w-Color-One:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.25);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: -1;
}

.w-Color-Two {
    background-image: url('../images/w2.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.w-Color-Two:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.25);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: -1;
}

.w-Color-Three {
    background-image: url('../images/w3.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.w-Color-Three:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: -1;
}
